.page-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.page-part-container {
    display: flex;
    flex-grow: 1; /* Grow to fill the container */
    overflow: hidden; /* Hide overflow */
}