@page "/pdfBuilder"

<div class="page-container">
    <MudGrid Spacing="2" Style="height: 100%; flex-grow: 1">
        <MudItem Class="page-part-container" xs="8">
            <MudPaper Style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                <h1>BUILDER</h1>
            </MudPaper>
        </MudItem>

        @* <MudItem Class="page-part-container" xs="4"> *@
        <MudItem xs="4">
            <MudPaper Style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                <h1>PREVIEW</h1>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

}